@font-face {
  font-family: 'AkzidenzGroteskPro-Cn';
  src: url('AkzidenzGroteskPro-Cn.eot');
  src: url('AkzidenzGroteskPro-Cn.eot?#iefix') format('embedded-opentype'),
       url('AkzidenzGroteskPro-Cn.svg#AkzidenzGroteskPro-Cn') format('svg'),
       url('AkzidenzGroteskPro-Cn.ttf') format('truetype'),
       url('AkzidenzGroteskPro-Cn.woff') format('woff'),
       url('AkzidenzGroteskPro-Cn.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

